<link rel="stylesheet" href="<%= assetPath('css/home.css') %>

<div id="home-container">


  <section id="post-feed" >
<h1>Home Page for my application <%= title %></h1>
    <h4>Posts</h4>
      <% if (locals.user) { %>
      <form action="/post/create" id="new-post-form" method="post">
        <textarea
          name="content"
          cols="30"
          rows="3"
          placeholder="Write here...."
          required
        ></textarea>
        <button type="submit">Post</button>
      </form>
      <% } %>
    
    <div id="posts-list-container">
      <ul>
        <% for (post of posts) { %> 
          <%- include('_post') -%> <% } %>
      </ul>
  </section>
  <div id="user-list">
    <h2>Friends</h2>
    <% for (u of all_users) { %>
    <a href="/user/profile/<%= u.id %>">
      <li id="f-list"><%= u.name %></li>
    </a>
    <% } %>
  </div>
</div>


<script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script src="<%= assetPath('js/home_posts.js') %>"></script>

<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>